@media screen and (max-width: 991px) {
  .sidebar-collapse {
    @include navbar-collapse();

    &.menu-on-left {
      .navbar-collapse {
        right: auto;
        left: 0;
        @include transform-translate-x(-300px);
      }
    }

    .nav-open & {
      .navbar-collapse {
        @include transform-translate-x(0px);
      }

      .wrapper {
        @include transform-translate-x(-150px);
      }

      .navbar-translate {
        @include transform-translate-x(-300px);
      }

      &.menu-on-left {
        .navbar-collapse {
          @include transform-translate-x(0px);
        }

        .navbar-translate {
          @include transform-translate-x(300px);
        }

        .wrapper {
          @include transform-translate-x(150px);
        }

        #bodyClick {
          right: auto;
          left: 300px;
        }
      }
    }
  }

  .bootstrap-collapse {
    .navbar .navbar-collapse {
      background: none !important;
    }
    @include navbar-responsive();
  }

  .profile-photo .profile-photo-small {
    margin-left: -2px;
  }

  .button-dropdown {
    display: none;
  }

  .section-nucleo-icons .container .row > [class*="col-"]:first-child {
    text-align: center;
  }

  .footer {
    .copyright {
      // text-align: right;  // changed at 2018.4.4 for admin user warnerwu
      text-align: center;
    }
  }

  .stoics-page {
    .page-header {
      height: 40vh;
    }
    .carousel {
      height: 40vh;
      .carousel-inner {
        height: 40vh;
      }
    }
  }

  .section-nucleo-icons .icons-container {
    margin-top: 65px;
  }

  .navbar-nav {
    .nav-link {
      i.fa,
      i.now-ui-icons {
        opacity: .5;
      }
    }
  }

  .section-images {
    height: 500px;
    max-height: 500px;

    .hero-images-container {
      max-width: 500px;
    }

    .hero-images-container-1 {
      right: 10%;
      top: 68%;
      max-width: 269px;
    }

    .hero-images-container-2 {
      right: 5%;
      max-width: 135px;
      top: 93%;
    }
  }

  .page-header {
    .section {
      .container {
        .row {
          .col-md-12 {
            .row {
              .col-md-8 {
                flex: 0 0 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }

  /* 博客列表页 */
  .blog-page {
    .article-list {

      /* 列表内容 */
      .article-list-content {
        .archive-content {
          height: auto;

          width: auto;
          padding-right: 10px;

          overflow: hidden;
          text-overflow: ellipsis;
          display: box;
          display: -webkit-box;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .title-l {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 992px){
    .burger-menu{
        @include navbar-collapse();

        .nav-open & .navbar-collapse{
            @include transform-translate-x(0px);
        }

        .navbar-collapse {
            display: block !important;

            .navbar-nav {
                margin-top: 53px;
                height: 100%;
                z-index: 2;
                position: relative;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;

                .nav-item{
                    margin: 0;
                }
            }
        }

        &.menu-on-left .navbar-collapse{
            right: auto;
            left: 0;
            @include transform-translate-x(-300px);
        }

        [class*="navbar-expand-"]{
            .navbar-nav .dropdown-menu{
                position: static;
                float: none;
            }

            .navbar-toggler{
                display: inline-block;
            }
        }

        .section-navbars .navbar-collapse{
            display: none !important;
        }

        .nav-open &{
            &.menu-on-left .navbar .navbar-translate{
                @include transform-translate-x(300px);
            }

            .navbar .navbar-translate{
                @include transform-translate-x(-300px);
            }

            &.menu-on-left .navbar-collapse{
                @include transform-translate-x(0px);
            }

            &.menu-on-left #bodyClick{
                right: auto;
                left: 300px;
            }
        }

        &.menu-on-left .navbar-brand{
            float: right;
            margin-right: 0;
            margin-left: 1rem;
        }
    }

    .navbar-nav{
        .nav-link{
            &.profile-photo{
                padding: 0;
                margin: 7px $padding-base-horizontal;
            }

            &.btn:not(.btn-sm){
                margin: 0;
            }
        }

        .nav-item:not(:last-child){
            margin-right: 5px;
        }

    }

    .section-nucleo-icons .icons-container{
        margin: 0 0 0 auto;
    }

    .dropdown-menu .dropdown-item{
        color: inherit;
    }

    .footer{
        .copyright{
            float: right;
        }
    }
}

@media screen and (min-width: 768px){
    .image-container{
        &.image-right{
            top: 80px;
            margin-left: - 100px;
            margin-bottom: 130px;
        }

        &.image-left{
            margin-right: -100px;
        }
    }


  .page-header {
    .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px){
    .image-container{
        &.image-left{
            margin-bottom: 220px;

            p.blockquote{
                margin: 0 auto;
                position: relative;
                right: 0;
            }
        }
    }

    .nav-tabs{
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;

        .nav-item > .nav-link{
            margin-bottom: 5px;
        }
    }

    .landing-page .section-story-overview .image-container:nth-child(2){
        margin-left: 0;
        margin-bottom: 30px;
    }


  .page-header {
    .section {
      .container {
        .row {
          .col-md-12 {
            .row {
              .col-md-12 {
                flex: 0 0 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px){
    .navbar[class*='navbar-expand-'] .container{
        margin-left: 0;
        margin-right: 0;
    }

    .footer{
        .copyright{
            text-align: center;
        }
    }

    .section-nucleo-icons{
        .icons-container{
            i{
                font-size: 30px;

                &:nth-child(6){
                    font-size: 48px;
                }
            }
        }
    }

    .page-header{
        .container h6.category-absolute{
            width: 90%;
        }
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px){
    .section-images{
        .hero-images-container-1{
            right: 9%;
            max-width: 370px;
        }

        .hero-images-container-2{
            right: 2%;
            max-width: 216px;
        }
    }

  .section {
    .archive-content {
      height: 64px;
      overflow: hidden;
    }

    .thumbnail {
      width: 150px;
      .img {
        width: 150px;
      }
    }
  }
}

@media screen and (max-width: 768px){
    .section-images{
        height: 300px;
        max-height: 300px;

        .hero-images-container{
            max-width: 380px;
        }

        .hero-images-container-1{
            right: 7%;
            top: 87%;
            max-width: 210px;
        }

        .hero-images-container-2{
            right: 1%;
            max-width: 133px;
            top: 99%;
        }
    }


  /* 博客列表页 */
  .blog-page {
    .article-list {

      /* 列表内容 */
      .article-list-content {
        .archive-content {
          height: 40px;
          position: absolute;
          top: 80px;
          left: 240px;
          width: auto;
          padding-right: 10px;

          overflow: hidden;
          text-overflow: ellipsis;
          display: box;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .title-l {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 517px) {
    .alert .alert-icon{
        margin-top: 10px;
    }

  .stoics-page {
    .page-header {
      height: 35vh;
    }
    .carousel {
      height: 35vh;
      .carousel-inner {
        height: 35vh;
      }
    }
  }
}



/* iPhone5/SE 横屏 */
@media screen and (max-width: 568px) {
  .stoics-page {
    .page-header {
      height: 40vh;
    }
    .carousel {
      height: 40vh;
      .carousel-inner {
        height: 40vh;
      }
    }
  }

  /* 博客列表页 */
  .blog-page {
    .article-list {

      /* 列表内容 */
      .article-list-content {
        .archive-content {
          height: 40px;
          position: absolute;
          top: 80px;
          left: 240px;
          width: auto;
          padding-right: 10px;

          overflow: hidden;
          text-overflow: ellipsis;
          display: box;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .title-l {
          display: none;
        }
      }
    }
  }
}

/* iPhone6/7/8 横屏 */
@media screen and (max-width: 667px) {
  .stoics-page {
    .page-header {
      height: 100vh;
    }
    .carousel {
      height: 100vh;
      .carousel-inner {
        height: 100vh;
      }
    }
  }

  /* 博客列表页 */
  .blog-page {
    .article-list {

      /* 列表内容 */
      .article-list-content {
        .archive-content {
          height: 40px;
          position: absolute;
          top: 80px;
          left: 240px;
          width: auto;
          padding-right: 10px;

          overflow: hidden;
          text-overflow: ellipsis;
          display: box;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .title-l {
          display: block;
        }

        /* 文章列表标记 */
        .article-list-meta {
          /* 查看 */
          .views {
            display: none;
          }
        }
      }


    }
  }
}

/* iPhone6/7/8 竖屏 */
@media screen and (max-width: 375px) {
  .stoics-page {
    .page-header {
      height: 40vh;
    }
    .carousel {
      height: 40vh;
      .carousel-inner {
        height: 40vh;
      }
    }
  }
}
/* iPhone6/7/8Plus 横屏 */
@media screen and (min-width: 414px) and (max-width: 420px) {
  .stoics-page {
    .page-header {
      height: 40vh;
    }
    .carousel {
      height: 40vh;
      .carousel-inner {
        height: 40vh;
      }
    }
  }
}
/* iPhone6/7/8Plus 竖屏 */
@media screen and (max-width: 736px) and (max-height: 414px) {
  .stoics-page {
    .page-header {
      height: 100vh;
    }
    .carousel {
      height: 100vh;
      .carousel-inner {
        height: 100vh;
      }
    }
  }


  /* 博客列表页 */
  .blog-page {
    .article-list {

      /* 列表内容 */
      .article-list-content {
        .archive-content {
          height: 40px;
          position: absolute;
          top: 80px;
          left: 240px;
          width: auto;
          padding-right: 10px;

          overflow: hidden;
          text-overflow: ellipsis;
          display: box;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .title-l {
          display: block;
        }

        /* 文章列表标记 */
        .article-list-meta {
          /* 查看 */
          .views {
            display: none;
          }
        }
      }


    }
  }
}

/* Pixel 2 XL 横屏 */
@media screen and (max-width: 823px) and (max-height: 411px) {
  .stoics-page {
    .page-header {
      height: 100vh;
    }
    .carousel {
      height: 100vh;
      .carousel-inner {
        height: 100vh;
      }
    }
  }
}
/* Pixel 2 XL 竖屏 */
@media screen and (max-width: 411px) and (min-width: 400px) {
  .stoics-page {
    .page-header {
      height: 40vh;
    }
    .carousel {
      height: 40vh;
      .carousel-inner {
        height: 40vh;
      }
    }
  }
}


/* iPad */
@media screen and (min-width: 1024px) and (min-height: 768px) {
  .stoics-page {
    .page-header {
      height: 100vh;
    }
    .carousel {
      height: 100vh;
      .carousel-inner {
        height: 100vh;
      }
    }
  }
}
/* iPad Pro */
@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .stoics-page {
    .page-header {
      height: 40vh;
    }
    .carousel {
      height: 40vh;
      .carousel-inner {
        height: 40vh;
      }
    }
  }
}

@media screen and (max-width: 812px) and (max-height: 375px) {
  .stoics-page {
    .page-header {
      height: 100vh;
    }
    .carousel {
      height: 100vh;
      .carousel-inner {
        height: 100vh;
      }
    }
  }

  /* 博客列表页 */
  .blog-page {
    .article-list {

      /* 列表内容 */
      .article-list-content {
        .archive-content {
          height: 40px;
          position: absolute;
          top: 80px;
          left: 240px;
          width: auto;
          padding-right: 10px;

          overflow: hidden;
          text-overflow: ellipsis;
          display: box;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .title-l {
          display: block;
        }

        /* 文章列表标记 */
        .article-list-meta {
          /* 查看 */
          .views {
            display: none;
          }
        }
      }


    }
  }
}

@media screen and (max-width: 320px) and (max-width: 414px) {
  /* 美图画廊 */
  .stoics-page {
    .page-header {
      height: 40vh;
    }
    .carousel {
      height: 40vh;
      .carousel-inner {
        height: 40vh;
      }
    }
  }

  /* 博客 */
  .blog-page {
    .page-header-image {
      line-height: 220px;
    }
    .page-header-image > .show-wisdom {
      font-size: 0.8rem;
      height: 0.8rem;
      margin: 0 auto;
      font-style: italic;
      text-align: center;

      // 子标题
      .sub-author {
        font-size: 0.3rem;
        font-style: italic;
        font-weight: bold;
        color: white;
      }
    }
  }
}

/* 当屏幕尺寸最大为414时 */
@media screen and (max-width: 414px) {
  /* 博客列表页 */
  .blog-page {
    /* 页面头部 */
    .page-header-small {
      height: 30vh;
      max-height: 220px;
    }

    .article-list {
      padding: 10px;
      height: 6rem;
      /* 缩略图 */
      .thumbnail {
        width: 100px;
        height: 75px;
        margin: 0 10px 0 0;
        .cat {
          display: none;
        }

        a {
          display: block;
          width: 100px;
          height: 75px;
          img {
          height: 100%;
          width: 100%;
          }
        }
      }

      .article-list-header {
        height: 18px;
        line-height: 18px;
        a {
          font-size: 0.8rem;
          line-height: 14px;
        }
      }

      /* 列表内容 */
      .article-list-content {
        .archive-content {
          display: none;
        }
        .title-l {
          display: none;
        }
        .article-list-meta {
          left: 120px;
          bottom: 5px;
          .views {
            display: none;
          }
        }
      }

      /* 查看更多 */
      .article-list-more {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
    .section-images{
        .hero-images-container-1{
            top: 51%;
            right: 21%;
        }

        .hero-images-container-2{
            top: 66%;
            right: 14%;
        }
    }
}

// Ipad responsive portrait mode
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and ( orientation : portrait){
    .section-images .hero-images-container,
    .section-images .hero-images-container-1,
    .section-images .hero-images-container-2{
        margin-top: -15vh;
        margin-left: 80px;
    }

    .section-images .hero-images-container{
        max-width: 300px;
    }

    .section-images .hero-images-container-1{
        right: 28%;
        top: 40%;
    }

    .section-images .hero-images-container-2{
        right: 21%;
        top: 55%;
    }

    .index-page .category-absolute{
        top: 90vh;
    }
}

@media screen and (max-width: 580px) {
    .alert{
        button.close{
            position: absolute;
            right: 11px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}



