.blog-page {
  // 下拉列表分割线
  .divider {
    height: 0.05rem;
    background-color: #c6c8ca;
  }
  .page-header-image {
    line-height: 220px;
  }
  .page-header-image > .show-wisdom {
    font-size: 1.2rem;
    height: 1.2rem;
    font-style: italic;
    margin: 0 auto;
    text-align: center;

    // 子标题
    .sub-author {
      font-size: 0.6rem;
      font-style: italic;
      font-weight: bold;
      color: white;
    }
  }


  a {
    text-decoration: none;
    color: #1b1e21;
  }
  a:hover {
    color: $primary-color;
  }

  // 内容区域背景
  .section {
     background-image: url("../img/background/bj.png");
    //background: #f0f2f5;
  }

  /* 博客列表 */
  .article-list {
    //border: 1px solid red;
    height: 12rem;
    margin-bottom: 1rem;
    background-color: white;


    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    padding: 20px;
    position: relative;
    // color: white;
    //opacity: 0.3;
    //filter: alpha(opacity=30);

    /* 缩略图 */
    .thumbnail {
      height: 150px;
      width: 200px;
      max-width: 200px;
      min-width: 100px;
      margin: 0 20px 0 0;
      overflow: hidden;
      float: left;
      clear: both;
      position: relative;
      transition-duration: .5s;

      a {
        display: block;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      /* 分类 */
      .cat {
        position: absolute;
        top: 0;
        left: 0;
        background: $primary-color;
        a {
          color: #fff;
          line-height: 28px;
          padding: 0 10px;
        }
      }
    }

    /* 文章列表头部 */
    .article-list-header {
      /*height: 28px;
      line-height: 28px;*/
      margin: 0 0 5px 0;
      a {
        padding: 0;
        font-size: 1rem;
        line-height: 28px;
      }
    }

    /* 文章列表内容 */
    .article-list-content {
      .archive-content {
        color: #777;
      }
      .title-l {
        position: absolute;
        background: $primary-color;
        top: 21px;
        left: -1px;
        width: 5px;
        height: 28px;
      }

      .article-list-meta {
        position: absolute;
        bottom: 14px;
        color: #999;
        left: 240px;
        .date > i, .views > i {
          margin: 0 0.2rem 0 0;
        }
        .date, .views {
          margin: 0 0.4rem 0 0;
        }
      }

      .clear {
        clear: both;
        display: block;
      }
    }

    .article-list-more {
      a {
        position: absolute;
        bottom: 20px;
        right: -1px;
        background: $primary-color ;
        color: #fff !important;
        line-height: 30px;
        padding: 0 12px;
        display: block;
        border-radius: 2px 0 0 2px;
      }
    }
  }

  /* 最后发布列表 */
  .latest-container {
    height: 30rem;
    max-height: 30rem;
    border: 1px solid red;
  }
}