// style for the index page
.site-index{
  // 卡片区块标题
  .card-title {
    font-size: 1.8rem;
  }

  .card-description {
    margin: 1rem auto;
    font-size: 1rem;
    font-style: italic;
  }

  // 首页主索引区域
  .main-url {
    max-width: 320px;
    /*border-bottom: 1px solid #c0c1c2;
    border-top: 1px solid #c0c1c2;*/
    margin: 0 auto;
    height: 2.5rem;
  }

  // 首页主索引区域Ul及Li样式定义
  .main-url ul {
    padding-left: 0;
    list-style: none;
    line-height: 2.5rem;
    display: block;
    width: 100%;
    li {
      display: inline-block;
      font-size: 1.2rem;
    }

    // 首页主索引区域链接样式
    .link{
      font-size: 1.0rem;
      color: $white-color;
      // color: $primary-color;
      text-decoration: none;
    }
  }

  // 页面页脚
  .footer {
    .copyright {
      width: 100%;
      text-align: center;
    }
  }
}