// style for the profile page
.stoics-page{
  .wrapper {
    .page-header {
      .col-12 {
        padding: 0;
        z-index: 100;
      }
      .row {
        padding: 0;
        margin: 0;
      }
    }
  }





  .carousel {
    height: 100vh;
    .carousel-inner {
      // min-height: 550px;
      max-height: 1050px;
      height: 100vh;
      position: relative;
      background-position: center center;
      background-size: cover;
      .carousel-item {
        height: inherit;
        background-position: center center;
        background-size: cover;
        .d-block {
          position: absolute;
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
    }
  }

  .profile-container{
    color: #FFFFFF;
  }
  .photo-container{
    width: 123px;
    height: 123px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  }

  .title{
    text-align: center;
    margin-top: 30px;
  }

  .description,
  .category{
    text-align: center;
  }

  h5.description{
    max-width: 800px;
    margin: 20px auto 75px;
  }

  .nav-align-center{
    margin-top: 30px;
  }

  .content{
    max-width: 450px;
    margin: 0 auto;

    .social-description{
      display: inline-block;
      max-width: 150px;
      width: 145px;
      text-align: center;
      margin: 15px 0 0;

      h2{
        margin-bottom: 15px;
      }
    }
  }

  .button-container{
    text-align: center;
    margin-top: -106px;
  }

  .collections{
    img{
      margin-bottom: 30px;
    }
  }

  .gallery{
    margin-top: 45px;
    padding-bottom: 50px;
  }

  .time-line {
    margin-left: -0.6rem;
    border-left: 0.1rem solid $primary-color;
  }

  .tab-content {
    margin-left: -0.2rem;
  }

  .line {
    position: relative;
    margin: 20px auto;
    .dot {
      width: 20px;
      height: 20px;
      background: url("../img/dot.png") no-repeat center center;
      position: absolute;
      top: -20px;
      left: -10px;
    }
    .date-line {
      margin: -3.2rem auto 0;
    }
    .half-line {
      width: 100%;
    }
  }
}